
.header{
    height: 34vw;
    margin: 30px auto;
    background: url("/header_img.png") no-repeat center center/contain;
}
.header-contents{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 50%;
    left: 16vw;
    position: absolute;
    justify-content: center;
    height: 100%;
    color: #fff;
    animation: fadeIn 1s ease-in-out;

}
.header-contents h2{
    font-weight: 600;
    font-size: max(3.5vw);
}
.header-contents p{
    font-weight: 500;
    font-size: max(1.2vw);
}
.header-contents button{
    background-color: white;
    color: #010000;
    padding: 12px 20px;
    border-radius: 40px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}
.header-contents button:hover{
    background-color: #394468;
    color: #fff;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-360px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* media queries */

@media (max-width: 1050px) {
    .header{
        height: 50vw;
        margin: 20px auto;
    }
    .header-contents{
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 80%;
        left: 10vw;
    }
    .header-contents h2{
        font-size: 4vw;
    }
    .header-contents p{
        font-size: 2vw;
    }
}

@media (max-width: 750px) {
    .header{
        height: 50vw;
        margin: 20px auto;
    }
    .header-contents{
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 80%;
        left: 10vw;
    }
    .header-contents h2{
        font-size: 4vw;
    }
    .header-contents p{
        font-size: 2vw;
    }
    .header-contents button{
        font-size: 11px;
        padding: 10px 15px;
    }
}