
/* 
  This file is part of the Food Delivery project.
  It contains global styles and imports necessary for the application.
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.App{
  width: 80% !important;
  margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}