

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.navbar .logo{
    width: 120px;
    height: 120px;
    /* margin-left: 130px; */
    cursor: pointer;
}
.logo:hover {
  animation: rotateLogo 1s linear infinite;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    color: #394468;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-right: 150px; */
}


.main-search img{
    cursor: pointer;
}
.main-search input{
    width: 200px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #394468;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: #394468;
}
.navbar button{
    background: transparent;
    border: 1px solid #394468;
    padding: 12px 20px;
    border-radius: 40px;
    color: #394468;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;

}
.navbar button:hover{
    background-color: #394468;
    color: #fff;
}
.navbar .active{
    transform: scale(0.95);
    padding-bottom: 2px;
    border-bottom: 2px solid #394468;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
    width: fit-content;
    display: inline-block;
}


.cart-count {
  background-color: tomato;
  color: white;
  padding: 2px 6px;   /* space around number */
  border-radius: 50%; /* small rounded corners */
  font-size: 12px;
  font-weight: bold;
  position: absolute; /* so it sits on the basket icon */
  top: -11px;          /* adjust as needed */
  right: -7px;        /* adjust as needed */
}



/* media queries for large screen*/

@media (max-width: 1050px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navbar .logo {
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
    }
    .menu-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .navbar-right {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar button {
        width: 100%;
        padding: 8px;
        text-align: center;
    }
}


/* media queries for medium screen */

@media (max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navbar .logo {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    .menu-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .navbar-right {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar button {
        width: 100%;
        padding: 8px 20px;
        text-align: center;
    }
}
