

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 0px;
}
.menu-list{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    color: #394468;
    font-size: 18px;
}